[submodule "lib/i8086"]
	path = lib/i8086
	url = https://github.com/tommojphillips/i8086
[submodule "lib/UI/lib/imgui"]
	path = lib/UI/lib/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "lib/tomi"]
	path = lib/tomi
	url = https://github.com/tommojphillips/TOMI.git
